{% extends 'exhibition/base_header.html' %}
{% load static %}
{% load socialaccount %}
{% block header_title %}<title>로그인</title>{% endblock %}

{% block script_blcok %}{% endblock %}
{% block style_blcok %}
    <link rel="stylesheet" href="{% static 'exhibition/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'exhibition/css/exhibition_list.css' %}"/>
    <style>
        p {
            font-size: 15px;
        }

        .introduce {
            width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 10% 10% 100% 10%;
            object-fit: contain;
        }

        @media screen and (min-width: 992px) {
            .introduce {
                padding: 10% 7% 50% 7%;
                border-bottom: 1px solid #5CA4A2;
            }

            .intro {
                display: none;
            }
        }

        .login_btn {
            border: 1px solid #5CA4A2;
            background-color: white;
            margin-top: 10px;
            padding: 7px;
            border-radius: 5px;
            font-size: 12px;
        }
    </style>
{% endblock %}

{% block main_blcok %}
    <div class="row">
        <div class="aside_container col-md-1 col-md-push-11">
            <p class="intro">마이페이지</p>
        </div>
        <div class="content_container col-md-11 col-md-pull-1">
            <div class="article_container">
                <div class="introduce">
                    <br/>
                    <div class="col-12 text-center">
                        <a class="login_btn btn-block" href="/profile/">
                            프로필 보기
                        </a>
                        {% if user.is_superuser %}
                            <a class="login_btn btn-block" href="/admin/">
                                관리자 모드
                            </a>
                            <a class="login_btn btn-block" href="/reset/">
                                외부 전시회 리셋
                            </a>
                        {% elif user.is_staff %}
                            <a class="login_btn btn-block" href="/manage/all/">
                                진행중인 전시회
                            </a>
                            <a class="login_btn btn-block" href="/artist/">
                                작가 프로필
                            </a>
                        {% else %}
                            <a class="login_btn btn-block" href="/register/">
                                작가 신청
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

