{% extends 'exhibition/base_header.html' %}
{% load static %}
{% block header_title %}<title>프로필 보기</title>{% endblock %}

{% block script_blcok %}{% endblock %}
{% block style_blcok %}
    <link rel="stylesheet" href="{% static 'exhibition/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'exhibition/css/exhibition_list.css' %}"/>
    <style>
        p {
            font-size: 15px;
        }

        .introduce {
            width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 10% 10% 50% 10%;
            object-fit: contain;
        }

        .arta {
            line-height: 165%;
            text-align: left;
        }

        @media screen and (min-width: 992px) {
            .introduce {
                padding: 10% 7% 50% 7%;
                border-bottom: 1px solid #5CA4A2;
            }

            .intro {
                display: none;
            }
        }

        .login_btn {
            border: 1px solid #5CA4A2;
            background-color: white;
            margin-top: 10px;
            padding: 7px 15px;
            border-radius: 15px;
            font-size: 12px;
        }
    </style>
{% endblock %}

{% block main_blcok %}
    <div class="row">
        <div class="aside_container col-md-1 col-md-push-11">
            <p class="intro">내 프로필 관리</p>
        </div>
        <div class="content_container col-md-11 col-md-pull-1">
            <div class="article_container">
                <div class="introduce">
                    <div class="col-12">
                        {% if user.is_authenticated %}
                            <span class="arta">
                                사용자 이름 : {{ user.username }}
                            </span>
                            <br/>
                            <span class="arta">
                                가입일자 : {{ user.date_joined }}
                            </span>
                        {% else %}
                            <p class="arta">
                                정보가 없습니다.
                            </p>
                        {% endif %}
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

