{% extends 'exhibition/base_header.html' %}
{% load static %}
{% block header_title %}<title>전시회 추천</title>{% endblock %}

{% block script_blcok %}{% endblock %}
{% block style_blcok %}
    <link rel="stylesheet" href="{% static 'exhibition/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'exhibition/css/exhibition_list.css' %}"/>
    <style>
        .article_container {
            border-bottom: 1px solid #5CA4A2;
        }

        .comment {
            text-align: left;
            padding-top: 3%;
            padding-left: 3%;
            font-size: 12px;
        }

        .recommend_img {
            padding-bottom: 3%;
            padding-left: 3%;
            padding-right: 3%;
        }

        .move_page {
            text-align: center;
            padding-bottom: 3%;
        }

        .dot {
            cursor: pointer;
            height: 10px;
            width: 10px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active, .dot:hover {
            background-color: #717171;
        }

        /* .article_container:hover .recommend_img {
          transform: translateX(-5%);
        }
        .recommend_img:hover ~ .recommend_img {
          transform: translateX(5%);
        }
        .recommend_img:hover {
          transform: scale(1.05) !important;
        } */
        @media screen and (min-width: 992px) {
            .page_name {
                display: none;
            }

            .dot {
                height: 15px;
                width: 15px;
            }
        }
    </style>
{% endblock %}

{% block main_blcok %}

    <div class="row">
        <div class="aside_container col-md-1 col-md-push-11">
            <p class="page_name">추천</p>
        </div>
        <div class="content_container col-md-11 col-md-pull-1">
            <div class="article_container">
                <div class="row similar_user">
                    <p class="comment">나와 비슷한 유저가 좋아하는 그림</p>
                    <div class="recommend_img col-xs-6 col-lg-3">
                        <img src="https://lh3.googleusercontent.com/rsinNbEDPHC6RzCyBHdQJFgqWkkz0g_fb_iEqq2fcMad-orgGSZx_FjU65Q7m7IA6Wve_Hrts5IlGGlIuUzq75E" style="width:100%">
                    </div>
                    <div class="recommend_img col-xs-6 col-lg-3">
                        <img src="https://lh3.googleusercontent.com/rsinNbEDPHC6RzCyBHdQJFgqWkkz0g_fb_iEqq2fcMad-orgGSZx_FjU65Q7m7IA6Wve_Hrts5IlGGlIuUzq75E" style="width:100%">
                    </div>
                    <div class="recommend_img col-xs-6 col-lg-3">
                        <img src="https://lh3.googleusercontent.com/rsinNbEDPHC6RzCyBHdQJFgqWkkz0g_fb_iEqq2fcMad-orgGSZx_FjU65Q7m7IA6Wve_Hrts5IlGGlIuUzq75E" style="width:100%">
                    </div>
                    <div class="recommend_img col-xs-6 col-lg-3">
                        <img src="https://lh3.googleusercontent.com/rsinNbEDPHC6RzCyBHdQJFgqWkkz0g_fb_iEqq2fcMad-orgGSZx_FjU65Q7m7IA6Wve_Hrts5IlGGlIuUzq75E" style="width:100%">
                    </div>

                    <div class="move_page"> <!--페이지 변환-->
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div>
                </div>

                <div class="row similar_piece">
                    <p class="comment">내가 본 그림과 유사한 그림</p>
                    <div class="recommend_img col-xs-6 col-lg-3">
                        <img src="https://lh3.googleusercontent.com/rsinNbEDPHC6RzCyBHdQJFgqWkkz0g_fb_iEqq2fcMad-orgGSZx_FjU65Q7m7IA6Wve_Hrts5IlGGlIuUzq75E" style="width:100%">
                    </div>
                    <div class="recommend_img col-xs-6 col-lg-3">
                        <img src="https://lh3.googleusercontent.com/rsinNbEDPHC6RzCyBHdQJFgqWkkz0g_fb_iEqq2fcMad-orgGSZx_FjU65Q7m7IA6Wve_Hrts5IlGGlIuUzq75E" style="width:100%">
                    </div>
                    <div class="recommend_img col-xs-6 col-lg-3">
                        <img src="https://lh3.googleusercontent.com/rsinNbEDPHC6RzCyBHdQJFgqWkkz0g_fb_iEqq2fcMad-orgGSZx_FjU65Q7m7IA6Wve_Hrts5IlGGlIuUzq75E" style="width:100%">
                    </div>
                    <div class="recommend_img col-xs-6 col-lg-3">
                        <img src="https://lh3.googleusercontent.com/rsinNbEDPHC6RzCyBHdQJFgqWkkz0g_fb_iEqq2fcMad-orgGSZx_FjU65Q7m7IA6Wve_Hrts5IlGGlIuUzq75E" style="width:100%">
                    </div>

                    <div class="move_page"> <!--페이지 변환-->
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div>
                </div>

                <div class="row many_users">
                    <p class="comment">많은 유저들이 본 그림</p>
                    <div class="recommend_img col-xs-6 col-lg-3">
                        <img src="https://lh3.googleusercontent.com/rsinNbEDPHC6RzCyBHdQJFgqWkkz0g_fb_iEqq2fcMad-orgGSZx_FjU65Q7m7IA6Wve_Hrts5IlGGlIuUzq75E" style="width:100%">
                    </div>
                    <div class="recommend_img col-xs-6 col-lg-3">
                        <img src="https://lh3.googleusercontent.com/rsinNbEDPHC6RzCyBHdQJFgqWkkz0g_fb_iEqq2fcMad-orgGSZx_FjU65Q7m7IA6Wve_Hrts5IlGGlIuUzq75E" style="width:100%">
                    </div>
                    <div class="recommend_img col-xs-6 col-lg-3">
                        <img src="https://lh3.googleusercontent.com/rsinNbEDPHC6RzCyBHdQJFgqWkkz0g_fb_iEqq2fcMad-orgGSZx_FjU65Q7m7IA6Wve_Hrts5IlGGlIuUzq75E" style="width:100%">
                    </div>
                    <div class="recommend_img col-xs-6 col-lg-3">
                        <img src="https://lh3.googleusercontent.com/rsinNbEDPHC6RzCyBHdQJFgqWkkz0g_fb_iEqq2fcMad-orgGSZx_FjU65Q7m7IA6Wve_Hrts5IlGGlIuUzq75E" style="width:100%">
                    </div>

                    <div class="move_page"> <!--페이지 변환-->
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer id="footer"></footer>
{% endblock %}