{% extends 'exhibition/ARTA_header.html' %}
{% load static %}
{% block header_title %}<title>{{ piece.name }}</title>{% endblock %}

{% block script_blcok %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script>
        //카카오 공유
        $(document).ready(
            function shareKakao() {
                Kakao.init('61d34319ce6231efe326b8125598493a');
                Kakao.Link.createDefaultButton({
                    container: '#btnKakao',
                    objectType: 'feed',
                    content: {
                        title: "{{ piece.name }} - {{ piece.author }}",
                        description: "{{ piece.explain | truncatewords:12 }}",
                        imageUrl: "http://fine-village.co.kr/",
                        link: {
                            mobileWebUrl: window.location.href,  //카카오 앱
                            webUrl: window.location.href  //카카오 PC
                        }
                    }
                });
            })
    </script>
{% endblock %}
{% block style_blcok %}
    <link rel="stylesheet" href="{% static 'exhibition/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'exhibition/css/user_piece_show.css' %}"/>
    <link rel="stylesheet" href="{% static 'exhibition/css/pagination.css' %}"/>

    <style>
        .article_container {
            border-bottom: 1px solid #5CA4A2;
        }

        .exhibitor, .piece_name {
            font-weight: bold;
        }

        @media screen and (min-width: 768px) and (max-width: 991px) {
            .aside_container {
                display: none;
            }
        }

        @media screen and (min-width: 992px) {
            .aside_nav {
                display: none;
            }
        }
    </style>
{% endblock %}

{% block main_blcok %}
    {% if messages %}
        {% for message in messages %}
            <script>
                alert("{{ message }}");
            </script>
        {% endfor %}
    {% endif %}
    <div class="row">
        <!--title-->
        <div class="aside_container col-md-1 col-md-push-11">
            <p class="aside_nav">작품 보기</p>
        </div>
        <!--piece-->
        <div class="content_container col-md-11 col-md-pull-1">
            <div class="article_container">
                <div class="row row_content">
                    <div class="form-group">
                        <p class="piece_name col-xs-6">{{ piece.name }}</p>
                        <p class="exhibitor col-xs-6">{{ piece.author }}&nbsp;
                            {% if piece.remove_at %}
                            ({{ piece.remove_at.year }}作)
                            {% endif %}
                        </p>
                    </div>
                </div>

                <!--작품 설명-->
                <div class="row row_content">
                    <div class="explain_piece">
                        <p class="explanation text-left">{{ piece.explain }}</p>
                    </div>
                </div>

                <div class="row row_content">
                    <div class="form-group">
                        <img class="piece" src="{{ piece.image.url }}" alt="서버에서 파일이 증발함...ㅠㅠ">
                    </div>
                </div>

                <!--작품 설명-->
                {% if piece.author_say %}
                    <p class="">작가 노트</p>
                    <div class="row row_content">
                        <p class="view">{{ piece.author_say }}</p>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="piece_size">
                        <p class="size">{{ piece.size }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="piece_size">
                        <p class="size">{{ piece.material.name }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="piece_size">
                        <p class="size">{{ piece.major }} ( {{ piece.number }} )</p>
                    </div>
                </div>

                <div class="row">
                    <div class="piece_size">
                        <p class="view"><i class="fas fa-eye"></i> {{ piece.click_count }}</p>
                    </div>
                </div>


                <div class="icon"> <!--공유 버튼, 좋아요 버튼-->
                    <!--share icon-->
                    <a class="share" id="btnKakao" href="javascript:shareKakao();">
                        <i class="fa fa-share-alt" aria-hidden="true"></i></a>
                    <!--like icon-->
                    {% if user.is_authenticated %}
                        {% if like_list %}
                            {% for like in like_list %}
                                <a class="bookmark" href="{{ piece.get_absolute_url }}dislike/{{ like.pk }}/">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </a>
                            {% endfor %}
                        {% else %}
                            <a class="bookmark" href="{{ piece.get_absolute_url }}new_like/">
                                <i class="far fa-heart" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>

                <!--댓글-->
                <div class="comments">
                    <!--comment form-->
                    {% if user.is_authenticated %}
                        <form id="comment-form" method="post" action="{{ piece.get_absolute_url }}new_comment/">
                            {% csrf_token %}
                            <div class="input-comment">
                                <!-- <div class="user_name">사용자 이름</div> -->
                                <label for="new-comment"></label>
                                <textarea id="new-comment" class="form-control" name="content" rows="2"
                                          placeholder="댓글을 입력해주세요"></textarea>
                                <button class="submit_btn" type="submit" onclick="submitComment()">OK!</button>
                            </div>
                        </form>
                    {% else %}
                        <div class="input-comment">
                            <p>로그인을 하셔야 댓글을 달 수 있습니다.</p>
                        </div>
                    {% endif %}

                    <!--comment loop-->
                    {% if piece.comment_set.exists %}
                        {% for comment in piece.comment_set.iterator %}
                            <div class="comment-row">
                                <div class="comment_list">
                                    <div class="user_name">{{ comment.user.username }}</div>
                                    <div class="comment-date">{{ comment.create_at }}</div>
                                    {% if comment.user == user and user.is_authenticated %}
                                        <a href="/exhibition/piece/delete_comment/{{ comment.pk }}/">
                                            <div class="comment-delete">삭제</div>
                                        </a>
                                    {% endif %}
                                    <div class="comment-content">{{ comment.content }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>아직 작성된 댓글이 없습니다! 당신이 첫번째 댓글을 달아주세요!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="footer_row col-xs-12"> <!--아래 페이징 공간-->
            <footer>
                <div style="height: 50pt;"></div>
            </footer>
        </div>
    </div>
{% endblock %}
