{% extends 'exhibition/ARTA_header.html' %}
{% load static %}
{% block header_title %}<title>{{ exhibition.name }}</title>{% endblock %}

{% block script_blcok %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(window).scroll(function () {
                $('.piece_action').each(function (i) {
                    var bottom_of_object = $(this).offset().top + $(this).outerHeight();
                    var top_of_object = $(this).offset().top;
                    var middle_of_window = $(window).scrollTop() + $(window).height() / 2;
                    var windowWidth = $(window).width();

                    if (windowWidth < 992 && middle_of_window > top_of_object && middle_of_window < bottom_of_object) {
                        //$(this).animate({'opacity':'1','margin-left':'0px'},500);
                        if ($(this).css("opacity") == 0) {
                            $(this).fadeTo(500, 1);
                        }
                    } else { //object goes out of view (scrolling up)
                        if ($(this).css("opacity") == 1) {
                            $(this).fadeTo(500, 0);
                        }
                    }
                });
            });
        });

        //카카오 공유
        $(document).ready(function shareKakao() {
            Kakao.init('61d34319ce6231efe326b8125598493a');

            Kakao.Link.createDefaultButton({
                container: '#btnKakao',
                objectType: 'feed',
                content: {
                    title: "{{ exhibition.name }}",
                    description: "{{ piece.explain | truncatewords:12 }}",
                    imageUrl: "http://fine-village.co.kr/",
                    link: {
                        mobileWebUrl: window.location.href,  //카카오 앱
                        webUrl: window.location.href  //카카오 PC
                    }
                }
            });
        })
    </script>

    <script>
        // 모달 버튼에 이벤트를 건다.
        $('#open').on('click', function () {
            $('#modal').modal('show');
        });
        // 모달 안의 취소 버튼에 이벤트를 건다.
        $('#close').on('click', function () {
            $('#modal').modal('hide');
        });
    </script>

{% endblock %}
{% block style_blcok %}
    <link rel="stylesheet" href="{% static 'exhibition/css/exhibition_show_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'exhibition/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'exhibition/css/pagination.css' %}"/>
{% endblock %}
{% block main_blcok %}
    {% if messages %}
        {% for message in messages %}
            <script>
                alert("{{ message }}");
            </script>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="aside_container col-md-1 col-md-push-11">
            <h2 class="h_name"><a href="{{ exhibition.get_absolute_url }}">전시회 보기</a></h2>
            <div class="icon_row">
                <!--share icon-->
                <a class="share" id="btnKakao" href="javascript:shareKakao();">
                    <i class="fa fa-share-alt" style="font-size:13px" aria-hidden="true"></i>
                    <p class="icon_font"> 공유 </p>
                </a>
                <!--like icon-->
                {% if user.is_authenticated %}
                    {% if like_list %}
                        {% for like in like_list %}
                            <a class="bookmark" href="{{ exhibition.get_absolute_url }}dislike/{{ like.pk }}/">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <p class="icon_font">좋아요 취소</p>
                            </a>
                        {% endfor %}
                    {% else %}
                        <a class="bookmark" href="{{ exhibition.get_absolute_url }}new_like/">
                            <i class="far fa-heart red" aria-hidden="true"></i>
                            <p class="icon_font"> 좋아요 </p>
                        </a>
                    {% endif %}
                {% endif %}
                <!--guestbook icon-->
                <button type="button" class="guest_book" id="open" data-toggle="modal" data-target="#modal">
                    <i class="fa fa-comment-alt" style="font-size:13px" aria-hidden="true"></i>
                    <p class="icon_font"> 방명록 </p>
                </button>
                <div class="modal fade" id="modal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-Box" id="modal_content" role="document">
                            <p class="modal-name">전시회 방명록</p>
                            <button type="button" class="modal-close" id="close" data-dismiss="modal"><i
                                    class="fas fa-times"></i></button>

                            <!--guestbook list-->
                            <div class="comments">
                                <!--guestbook insert form-->
                                {% if user.is_authenticated %}
                                    <form id="comment-form" method="post"
                                          action="{{ exhibition.get_absolute_url }}new_guestbook/">
                                        {% csrf_token %}
                                        <div class="input-comment">
                                            <label for="new_comment"></label>
                                            <textarea class="form-control" id="new_comment" name="content" rows="3"
                                                      placeholder="방명록을 입력해주세요"></textarea>
                                            <button class="submit_btn" type="submit" onclick="submitComment()">OK!
                                            </button>
                                        </div>
                                    </form>
                                {% else %}
                                    <div class="input-comment">
                                        <p>로그인을 하셔야 방명록을 남길 수 있습니다.</p>
                                    </div>
                                {% endif %}


                                <!--guest book loop-->
                                {% if exhibition.guestbook_set.exists %}
                                    {% for guestbook in exhibition.guestbook_set.iterator %}
                                        <div class="comment-row">
                                            <div class="store-comment">
                                                <div class="comment-id">
                                                    <strong>{{ guestbook.user.username }}</strong>
                                                </div>
                                                <div class="comment-date">{{ guestbook.create_at }}</div>
                                                {% if guestbook.user == user and user.is_authenticated %}
                                                    <a href="/exhibition/delete_guestbook/{{ guestbook.pk }}">
                                                        <button class="cancel-button"><i class="fas fa-times"></i>
                                                        </button>
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <div class="comment-content">{{ guestbook.content }}</div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>아직 작성된 방명록이 없습니다! 당신이 첫번째 방명록을 달아주세여</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_container col-md-11 col-md-pull-1">
            <!--exhibition-->
            <div class="article_container">
                <div class="exhibition_poster">
                    <div class="exhibition_info">
                        <br/>
                        <p class="exhibition_name"><strong>{{ exhibition.name }}</strong></p><br/>
                        <p class="exhibitor"><i class="fas fa-eye"></i> {{ exhibition.click_count }}</p><br/>
                        <p class="exhibit_day">{{ total }}개의 작품이 전시중이에요!</p><br/>
                    </div>
                </div>
                <div class="exhibition_main">
                    <!--piece list-->
                    <div class="piece_container">
                        <!--piece loop-->
                        {% if piece_list %}
                            {% for piece in piece_list %}
                                <!--piece-->
                                <div class="piece_img_block">
                                    <a href="{{ piece.get_absolute_url }}" class="img_block">
                                        <img class="piece_img" src="{{ piece.image.url }}"
                                             alt="그림이 서버에서 사라짐...ㅠㅠ"/>
                                        <div class="piece_action">
                                            <p>{{ piece.author }}</p>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if piece_list %}
            {% else %}
                <div style="margin-top: 10%;margin-bottom: 10%">
                    <p>아직 등록된 그림이 없습니다. 조금만 기다려~</p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="footer_row col-xs-12"> <!--아래 페이징 공간-->
            <footer>
                {% if is_paginated %}
                    <p>- {{ page_obj.number }} -</p>
                    <ul class="pagination pagination-sm">
                        {% if page_obj.has_next %}
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page_obj.previous_page_number }}">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake" href="#">
                                    <i class="" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake" href="#">
                                    <i class="" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                            {% else %}
                                <li class="page-item"><a class="page-fake disabled" href="">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake" href="#">
                                    <i class="" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake" href="#">
                                    <i class="" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                            {% endif %}
                        {% else %}
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page_obj.previous_page_number }}">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake" href="#">
                                    <i class="" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake" href="#">
                                    <i class="" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake disabled" href="">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                            {% else %}
                                <li class="page-item"><a class="page-fake disabled" href="">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake" href="#">
                                    <i class="" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake" href="#">
                                    <i class="" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake disabled" href="">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                {% else %}
                    <div style="height: 50px;"></div>
                {% endif %}
            </footer>
        </div>
    </div>
{% endblock %}