<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>ARTA 작품 수정</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/piece_modify.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"> <!--font-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet"><!--font-->

    <script type="text/javascript">
      $(document).ready( function() {
        $("#header").load("./arta_header.html");
        });
      </script>
</head>



<body>
<div class="container-fluid">
  <header id="header"></header>

    <div class="row">
        <div class="aside_container col-md-1 col-md-push-11">
            <ul class="category_list">
                <li>
                  <a href="ARTA_artist_exhibition_register.html">전시회 등록</a><br  />
                  <a href="ARTA_artist_piece_register.html">작품 등록</a><br  />
                  <a href="ARTA_artist_exhibition_modify.html">전시회 관리</a><br  />
                  <a href="ARTA_artist_piece_modify.html">작품 관리</a>
                </li>
            </ul>

        </div>
        <div class="content_container col-md-11 col-md-pull-1">
            <div class="article_container">
              <div class="landing_page col-lg-4">
                <form class="form-signin">
                  <div class="row row_content">
                    <img class="piece_image" src="../images/보스 정우.jpg" alt="보스 정우">

                    <div class="piece_info">
                      <p class="exhibitor"><strong>작가명</strong></p>
                      <p class="piece_name"><strong>작품명</strong></p>
                    </div>
                  </div>
                </form>
              </div>
              <div>
                <div class="piece_modify col-lg-8">
                  <h4 class="form-signin-heading">작품 수정</h4>
                  <div class="row row_content">
                    <div class="form-group col-xs-12">
                      <label for="piece_explain">작품 소개</label>
                      <textarea class="form-control" rows="3" id="piece_explain"></textarea>
                    </div>
                  </div>
                  <div class="row row_content">
                    <div class="form-group col-xs-6">
                      <label for="priority">우선순위</label>
                      <input type="number" class="form-control" id="priority">
                    </div>
                  </div>

                  <div class="row row_content">
                    <div class="form-group col-xs-6">
                      <button id="cancel_btn" class="btn btn-block">취소</button>
                    </div>
                    <div class="form-group col-xs-6">
                      <button id="modify_btn" class="btn btn-block">수정완료</button>
                    </div>
                  </div>
                </div>


              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="footer col-xs-12"> <!--아래 페이징 공간-->
        </div>
    </div>
</div>
</body>
</html>
