{% extends 'exhibition/ARTA_header.html' %}
{% load static %}
{% block header_title %}<title>전시회 목록</title>{% endblock %}

{% block script_blcok %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(window).scroll(function () {
                $('.exhibition_action').each(function (i) {
                    var bottom_of_object = $(this).offset().top + $(this).outerHeight();
                    var top_of_object = $(this).offset().top;
                    var middle_of_window = $(window).scrollTop() + $(window).height() / 2;
                    var windowWidth = $(window).width();

                    if (windowWidth < 992 && middle_of_window > top_of_object && middle_of_window < bottom_of_object) {
                        //$(this).animate({'opacity':'1','margin-left':'0px'},500);
                        if ($(this).css("opacity") == 0) {
                            $(this).fadeTo(500, 1);
                        }
                    } else { //object goes out of view (scrolling up)
                        if ($(this).css("opacity") == 1) {
                            $(this).fadeTo(500, 0);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
{% block style_blcok %}
    <link rel="stylesheet" href="{% static 'exhibition/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'exhibition/css/exhibition_list_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'exhibition/css/pagination.css' %}"/>
{% endblock %}

{% block main_blcok %}
    <div class="row">
        <div class="aside_container col-md-1 col-md-push-11">
            <div class="text-center">
            <h5 class="">전시회</h5>
                </div>
            <!--category-->
{#            <div id="category_list">#}
{#                <h2 class="h_name">CAEGORY</h2>#}
{#                <div class="text-center">#}
{#                    <h6 class="">전시회</h6>#}
{#                </div>#}

{#                <ul class="category_list">#}
{#                    {% if category_name == '전체' %}#}
{#                        <li>#}
{#                            <a href="/exhibition/" class="list_bold">전체</a>#}
{#                        </li>#}
{#                    {% else %}#}
{#                        <li>#}
{#                            <a href="/exhibition/">전체</a>#}
{#                        </li>#}
{#                    {% endif %}#}
{#                    {% if categories.exists %}#}
{#                        {% for category in categories %}#}
{#                            {% if category.slug == category_name.slug %}#}
{#                                <li><a href="{{ category.get_absolute_url }}"#}
{#                                       class="list_bold">{{ category.smallName }}</a></li>#}
{#                            {% else %}#}
{#                                <li><a href="{{ category.get_absolute_url }}">{{ category.smallName }}</a></li>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{#                </ul>#}
{#            </div>#}
        </div>

        <!--exhibition list-->
        <div class="content_container col-md-11 col-md-pull-1">
            <div class="article_container">
                <!--exhibition block-->
                {% if exhibition_list %}
                    {% for exhibition in exhibition_list %}
                        <div class="article_block">
                            <div class="exhibition_img_block">
                                <a href="{{ exhibition.get_absolute_url }}" class="img_block">
                                    {% if randnum == 1 %}
                                        <img class="exhibition_img" src="{% static 'exhibition/images/전시회포스터1.jpg' %}"
                                             alt="포스터가 등록되지 않았습니다."/>
                                    {% else %}
                                        <img class="exhibition_img" src="{{ exhibition.poster.url }}"
                                             alt="포스터가 등록되지 않았습니다."/>
                                    {% endif %}
                                </a>
                            </div>
                            <a href="{{ exhibition.get_absolute_url }}">
                                <p class="exhibitor">{{ exhibition.start_at.date }} ~ {{ exhibition.end_at.date }}</p>
                            </a>
                            <a href="{{ exhibition.get_absolute_url }}">
                                <p class="exhibition_name">{{ exhibition.name }}</p>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="footer_row col-xs-12"> <!--아래 페이징 공간-->
            <footer>
                {% if is_paginated %}
                    <p>- {{ page_obj.number }} -</p>
                    <ul class="pagination pagination-sm">
                        {% if page_obj.has_next %}
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page_obj.previous_page_number }}">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake" href="#">
                                    <i class="" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake" href="#">
                                    <i class="" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                            {% else %}
                                <li class="page-item"><a class="page-fake disabled" href="">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake" href="#">
                                    <i class="" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake" href="#">
                                    <i class="" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                            {% endif %}
                        {% else %}
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page_obj.previous_page_number }}">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake" href="#">
                                    <i class="" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake" href="#">
                                    <i class="" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake disabled" href="">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                            {% else %}
                                <li class="page-item"><a class="page-fake disabled" href="">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake" href="#">
                                    <i class="" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake" href="#">
                                    <i class="" aria-hidden="true"></i></a></li>
                                <li class="page-item"><a class="page-fake disabled" href="">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                {% else %}
                    <div style="height: 50px;"></div>
                {% endif %}
            </footer>
        </div>
    </div>
{% endblock %}