{% extends 'exhibition/ARTA_header.html' %}
{% load static %}
{% load socialaccount %}
{% block header_title %}<title>ARTA 로그인</title>{% endblock %}

{% block script_blcok %}{% endblock %}
{% block style_blcok %}
    <link rel="stylesheet" href="{% static 'exhibition/css/main.css' %}"/>
    <style>
      label {
        font-size: 15px;
        font-weight: normal;
      }
      .login {
        min-height: 90vh;
      }
      .insert_e {
        padding-top: 10px;
      }
        #InputEmail {
            border: 1px solid #5CA4A2;
        }

        #InputPassword {
            border: 1px solid #5CA4A2;
        }

        .login_btn {
            border: 1px solid #5CA4A2;
            background-color: white;
            margin-top: 10px;
            padding: 7px;
            border-radius: 5px;
            font-size: 12px;
        }

        .password_btn {
            border: 1px solid #5CA4A2;
            background-color: white;
            margin-top: 10px;
            padding: 7px;
            border-radius: 5px;
            font-size: 12px;
        }
        .btn_s {
          padding-bottom: 5px;
        }

        .form-signin input[type="email"] {
            margin-bottom: 15px;
        }

        .form-signin input[type="password"] {
            margin-bottom: 15px;
        }

        @media screen and (max-width: 768px) {
          .form-signin-heading {
            display: none;
          }
        }
        @media screen and (min-width: 768px) and (max-width: 991px) {
          .aside_container {
            display: none;
          }
        }
        @media screen and (min-width: 992px) {
            .login_top {
                display: none;
            }
            .form-signin-heading {
              font-weight: bold;
              padding-left: 5px;
            }
        }
    </style>
{% endblock %}
{% block main_blcok %}
    <div class="row">
        <div class="aside_container col-md-1 col-md-push-11">
            <p class="login_top">로그인</p>
        </div>
        <div class="content_container col-md-11 col-md-pull-1">
            <div class="article_container">
              <div class="login col-sm-4">
                  <form class="form-signin">
                      <h4 class="form-signin-heading">로그인</h4>  <!--글자 크기-->
                      <div class="row insert_e">
                          <div class="col-md-12">
                              <label for="InputEmail">이메일</label>
                              <input type="email" id="InputEmail" class="form-control"
                                     placeholder="이메일을 입력하세요">
                          </div>
                      </div>

                      <div class="row insert_p">
                          <div class="col-md-12">
                              <label for="InputPassword">비밀번호</label>
                              <input type="password" id="InputPassword" class="form-control"
                                     placeholder="비밀번호">
                          </div>
                      </div>

                      <div class="row btn_s">
                          <div class="col-md-6 col-xs-6">
                              <button class="login_btn btn-block" type="submit">로그인</button>
                          </div>
                          <div class="col-md-6 col-xs-6">
                              <button class="password_btn btn-block">비밀번호 찾기</button>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-xs-12 text-center">
                              <a class="login_btn btn-block"
                                 href="{% provider_login_url 'kakao' method='oauth2' %}">
                                  <img src="https://simpleicons.org/icons/kakaotalk.svg" height="20pt">
                                  &nbsp;&nbsp;카카오 로그인
                              </a>
                          </div>
                      </div>
                  </form>
                  <div class="row">
                      <div class="footer col-xs-12" style="height: 50px"> <!--아래 페이징 공간-->
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
