{% extends 'exhibition/ARTA_header.html' %}
{% load static %}
{% block header_title %}<title>전시회 등록</title>{% endblock %}

{% block script_blcok %}
{% endblock %}

{% block style_blcok %}
    <link rel="stylesheet" href="{% static 'exhibition/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'exhibition/css/exhibition_show_style.css' %}"/>

    <style>
        .exhibition_edit {
            display: inline-block;
            background: #5CA4A2;
            color: white;
            font-size: 10px;
            padding: 2px 2px 2px 2px;
            border-radius: 6px;
            text-decoration: none;
        }

        .exhibition_edit:visited,
        .exhibition_edit:hover,
        .exhibition_edit:active {
            text-decoration: none;
            font-weight: bold;
            color: white;
        }
    </style>
{% endblock %}

{% block main_blcok %}
    <div class="row">
        <div class="aside_container col-md-1 col-md-push-11">
            <div id="category_list"></div>
            <a class="exhibition_edit" href="./artist_exhibition_modify.html">edit</a>
        </div>
        <div class="content_container col-md-11 col-md-pull-1">
            <div class="article_container">
                <article>
                    <h2>전시회 페이지</h2>
                    <img class="exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                    <p><strong>작가이름</strong></p>
                    <p><strong>제목</strong></p>
                    <p>전시회 설명입니다. 이 전시회는 어떤어떤 곳에서 어떠한 이유로 개최되었고 이러이러한 작품들을 전시하고 있습니다.</p>
                </article>
                <div>
                    <div class="piece_container">
                        <a href="#">
                            <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                        </a>
                        <a href="#">
                            <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                        </a>
                        <a href="#">
                            <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                        </a>

                        <a href="#">
                            <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                        </a>
                        <a href="#">
                            <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                        </a>
                        <a href="#">
                            <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                        </a>

                        <a href="#">
                            <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                        </a>
                        <a href="#">
                            <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                        </a>
                        <a href="#">
                            <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                        </a>

                        <a href="#">
                            <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                        </a>
                        <a href="#">
                            <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                        </a>
                        <a href="#">
                            <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                        </a>
                    </div>
                    <a href="before_page">
                        <p class="page_lbt">&#60; before</p>
                    </a>
                    <a href="before_page">
                        <p class="page_rbt">next &#62;</p>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}