{% extends 'exhibition/base_header.html' %}
{% load static %}
{% block header_title %}<title>전시회 보가</title>{% endblock %}

{% block script_blcok %}
{% endblock %}

{% block style_blcok %}
    <link rel="stylesheet" href="{% static 'exhibition/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'exhibition/css/exhibition_detail.css' %}"/>
{% endblock %}

{% block main_blcok %}
    <div class="row">
        <div class="aside_container col-md-1 col-md-push-11">
            <div id="category_list"></div>
            <a class="exhibition_edit" href="ARTA_artist_exhibition_modify.html">edit</a>
        </div>
        <div class="content_container col-md-11 col-md-pull-1">
            <!--exhibition-->
            {% if is_paginated and page_obj.number != 1 %}
                <div class="article_container">
                    <div class="exhibition_poster">
                        <div class="exhibition_info">
                            <p class="exhibition_name"><strong>{{ exhibition.name }}</strong></p>
                        </div>
                    </div>
                    <div class="exhibition_main">
                        <!--piece list-->
                        <div class="piece_container">
                            <!--piece loop-->
                            {% if piece_list %}
                                {% for piece in piece_list %}
                                    <!--piece-->
                                    <div class="piece_img_block">
                                        <a href="{{ piece.get_absolute_url }}" class="img_block">
                                            <img class="piece_img" src="{{ piece.image.url }}"
                                                 alt="그림이 서버에서 사라짐...ㅠㅠ"/>
                                            <div class="piece_action">
                                                <p>{{ piece.author }}</p>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="article_container">
                    <div class="exhibition_poster">
                        <img class="exhibition_img" src="{{ exhibition.poster.url }}" alt="포스터가 등록되지 않았습니다."/>
                        <div class="exhibition_info">
                            <p class="exhibit_day">{{ exhibition.start_at }} ~ {{ exhibition.end_at }}</p>
                            <p class="exhibitor"><i class="fas fa-eye"></i> {{ exhibition.click_count }}</p><br/>
                            <p class="exhibition_name"><strong>{{ exhibition.name }}</strong></p>
                            <p class="exhibit_day">{{ total }}개의 작품이 전시중이에요!</p><br/>
                        </div>
                    </div>
                    <div class="exhibition_main">
                        <div class="exhibition_p">
                            <p>{{ exhibition.explain }}</p>
                        </div>
                        <!--piece list-->
                        <div class="piece_container">
                            <!--piece loop-->
                            {% if piece_list %}
                                {% for piece in piece_list %}
                                    <!--piece-->
                                    <div class="piece_img_block">
                                        <a href="{{ piece.get_absolute_url }}" class="img_block">
                                            <img class="piece_img" src="{{ piece.image.url }}"
                                                 alt="그림이 서버에서 사라짐...ㅠㅠ"/>
                                            <div class="piece_action">
                                                <p>{{ piece.author }}</p>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if piece_list %}
            {% else %}
                <div style="margin-top: 10%;margin-bottom: 10%">
                    <p>아직 등록된 그림이 없습니다. 조금만 기다려~</p>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}