{% extends 'exhibition/common/../base_header.html' %}
{% load static %}
{% block header_title %}<title>전시회 수정</title>{% endblock %}

{% block script_blcok %}
{% endblock %}

{% block style_blcok %}
    <link rel="stylesheet" href="{% static 'exhibition/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'exhibition/css/exhibition_modify_style.css' %}" />
{% endblock %}

{% block main_blcok %}
    <div class="row">
        <div class="aside_container col-md-1 col-md-push-11">
            <p><strong>전시회 수정</strong></p>
        </div>
        <div class="content_container col-md-11 col-md-pull-1">
            <div class="article_container">
                <article>
                    <h2>전시회 수정 페이지</h2>
                    <img class= "exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                    <p><strong>작가이름</strong></p>
                    <p><strong>제목</strong></p>
                </article>
                <div class="m_contents">
                    <div>
                        <label for="ex_con">전시회 소개</label>
                        <textarea id="ex_con"></textarea>
                    </div>
                    <div>
                        <p> 운영기간 </p>
                        <form>
                            <label for="ex_open" >운영기간</label>
                            <input type="month" id="ex_open"/>
                            <span>-</span>
                            <label for="ex_close">운영기간</label>
                            <input type="month" id="ex_close"/>
                        </form>
                    </div>
                    <div>
                        <p>카테고리</p>
                        <form>
                            <input type="checkbox" name="categorys" value="1_cb" id="1_cb"/>
                            <label for="1_cb">시각</label>
                            <input type="checkbox" name="categorys" value="2_cb" id="2_cb"/>
                            <label for="2_cb">산업</label>
                            <input type="checkbox" name="categorys" value="3_cb" id="3_cb"/>
                            <label for="3_cb">건축</label>
                            <input type="checkbox" name="categorys" value="4_cb" id="4_cb"/>
                            <label for="4_cb">패션</label>
                            <input type="checkbox" name="categorys" value="5_cb" id="5_cb"/>
                            <label for="5_cb">공예</label>
                            <input type="checkbox" name="categorys" value="6_cb" id="6_cb"/>
                            <label for="6_cb">예술</label>
                            <input type="checkbox" name="categorys" value="7_cb" id="7_cb"/>
                            <label for="7_cb">영상</label>
                            <input type="checkbox" name="categorys" value="8_cb" id="8_cb"/>
                            <label for="8_cb">게임</label>
                            <input type="checkbox" name="categorys" value="9_cb" id="9_cb"/>
                            <label for="9_cb">기타</label>
                        </form>
                    </div>
                    <div>
                        <button> 취소 </button>
                        <button> 전시회 삭제 </button>
                        <button> 작품 추가 </button>
                        <button> 수정완료 </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}