.article_block{
    border-bottom: 1px solid #5CA4A2;
}

.exhibition_img_block a{
    position: relative;
}

.exhibition_img_block{
    border-bottom: 1px solid #5CA4A2;
}

.img_block{
    display: block!important;
}

.exhibition_img{
    width: 100%;
    padding: 2%;
    object-fit: contain;
}

.exhibition_action{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 10%;
    z-index: 1;
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0.5 );
}

.exhibition_action p{
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.exhibition_img_block a:hover .exhibition_action {
    opacity: 1;!important;
}

.category_list {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 8%;
    overflow: visible;
}

.category_list > li {
    padding-right: 2%;
    line-height: 1.3;
}

.category_list > li:link > a {
    color: #A0CDC5;
}

.category_list > li:active > a,
.category_list > li:hover > a {
    text-decoration: none;
!important;
    color: #5CA4A2;
!important;
    font-weight: bold;
!important;
}

h2 {
    display: none;
}

.list_bold {
    font-weight: bold; !important;
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .article_block{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 50%;
    }

    .article_block:nth-of-type(even) {
        border-right: none!important;
    }

}

@media screen and (min-width: 1025px) {

    .article_block{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 25%;
    }

    .article_block:nth-of-type(4n){
        border-right: none;
    }

}

@media screen and (min-width: 992px) {
    .article_container{
        display: flex;
        flex-wrap: wrap;
    }

    .article_block{
        border-right: 1px solid #5CA4A2;
    }

    .exhibition_img_block{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: middle;
    }

    .img_block{
        width: 100%;
        margin: auto;
    }

    .exhibition_img{
        width: 100%;
    }

    .category_list {
        height: 100%;
        width: 100%;
        display: flex;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: auto;
        padding: 0;
    }

    .category_list > li:first-child {
        padding-top: 10px;
    }

    .category_list > li {
        padding-right: 0;
        padding-bottom: 10px;
    }

    .h_name{
        display: inline-block;
        margin: 0 auto;
        width: 100%;
        padding-top: 10px;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        align-items: center;
    }

}