.article_container{
    border-bottom: 1px solid #5CA4A2;
}

.exhibition_img{
    width: 100%;
    padding: 2%;
    object-fit: contain;
    border-bottom: 1px solid #5CA4A2;
}

.piece_container{
    overflow: auto;
    vertical-align: middle;
}

.img_block{
    display: block!important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.piece_img{
    position: absolute;
    padding: 1%;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.piece_img_block {
    display: inline-block;
    width: 50%;
    border-right: 1px solid #5CA4A2;
    border-top: 1px solid #5CA4A2;
    float: left;
}

.piece_img_block:nth-of-type(even) {
    border-right: none;
}

.exhibit_day {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 13px;
}

.piece_img_block a{
    position: relative;
}

.piece_action{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 10%;
    z-index: 1;
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0.5 );
}

.piece_action p{
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.piece_img_block a:hover .piece_action {
    opacity: 1; !important;
}

.aside_container{
    display: flex;
    justify-content: center;
}

.h_name{
    display: inline-block;
    margin: auto;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.icon_row {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    wrap-option: nowrap;
    float: right;
}

.share {
    display: inline-block;
    flex-direction: column;
    padding-right: 7px;
    text-align: center;
}

.bookmark {
    display: inline-block;
    padding-right: 7px;
    text-align: center;
}

.guest_book {
    display: inline-block;
    text-align: center;
    outline: none;
    border: none;
    background-color: white;
}

.bookmark > .red {
    color: red; !important;
}

.exhibitor > strong{
    font-size: 16px;
}

.exhibition_name > strong{
    font-size: 18px;
}

.guest_book:hover {
    font-weight: bold;
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .exhibition_main{
        width: 250%;
    }

}

@media screen and (min-width: 1025px) {
    .exhibition_main{
        width: 180%;
    }

    .piece_img_block {
        width: 25%;
    }

    .piece_img_block:nth-of-type(2) {
        border-right: 1px solid #5CA4A2;
    }

    .piece_img_block:nth-of-type(6) {
        border-right: 1px solid #5CA4A2;
    }
}

@media screen and (min-width: 992px) {
    .aside_container{
        display: flex;
        flex-direction: column;
    }

    .article_container{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .exhibition_poster{
        display: flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: middle;
        border-right: 1px solid #5CA4A2;
    }

    .exhibition_main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        vertical-align: middle;
    }

    .exhibition_p {
        padding-top: 3%;
        padding-right: 1%;
        padding-left: 1%;
    }

    .share {
        padding-right: 0;
        padding-top: 10px;
    }

    .bookmark {
        padding-right: 0;
        padding-top: 10px;
    }

    .guest_book {
        padding-top: 10px;
    }

    .fa {
        font-size: 15px;
    }

    .icon_row {
        flex-direction: column;
        justify-content: flex-start;
        padding-right: 0;
        wrap-option: nowrap;
        align-items: center;
    }

    .h_name{
        margin: auto;
        width: 100%;
        padding-top: 10px;
        text-align: center;
        font-size: 18px;
    }

}

.modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    z-index: 300;
}

.modal-Box {
    width: 100%;
    height: 100%;
    padding: 15px;
    border: 2px solid #5CA4A2;
    background-color: white;
    overflow: auto;
}

.modal-name {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.comments {
    padding-top: 25px;
}

.input-comment {
    padding-bottom: 2%;
    position: relative;
}

.form-control{
    display: inline-block;
    width: 100%;
    resize: none;
    padding-right: 38px;!important;
    padding-left: 5px;!important;
    border-color: #5CA4A2;
}

.form-control::-webkit-scrollbar {
    width: 5px;
}
.form-control::-webkit-scrollbar-thumb {
    background-color: #5CA4A2;
}
.form-control::-webkit-scrollbar-track {
    background-color: white;
}

.form-control:focus, textarea:focus {
    outline:none !important;
    outline-width: 0 !important;
    outline-color: #5CA4A2; !important;
    box-shadow: none;!important;
    -moz-box-shadow: none;!important;
    -webkit-box-shadow: none;!important;
}

.submit_btn {
    display: inline-block;
    background-color: #5CA4A2;
    color: white;
    border: 1px solid #5CA4A2;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.comment-row {
    border: 1px solid #5CA4A2;
    width: 100%;
    padding: 2px 5px 2px;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    wrap-option: warp;
}
.input-comment {
    padding-bottom: 10px;
}
.store-comment {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 3px;
}

.comment-id {
    padding-right: 15px;
}
.comment-date {
    text-align: left;
    font-size: 14px; !important;
}

.cancel-button {
    display: inline-block;
    background-color: white;
    border: none;
    margin: 0;
    text-decoration: none;
    padding-right: 3px;
    float: left;
}
.comment-content{
    padding-left: 14px;
}
.modal-close{
    display: inline-block;
    float: right;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: white;

}
